<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link href="css/main.css" rel="stylesheet">
</head>

<body>
    
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-left">Login</h1>
            <p class="text-left">Chose the account you wish to login with.</p>
            <p>
                <a class="btn btn-github-style btn-lg btn-block" href="/auth?provider=github">
                    <i class="fa fa-github-square"></i>  <span>Login with <strong>Github</strong></span>
                </a>
            </p>
        </div>
    </div>
</body>

</html>